<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
<body >
    <%-include('./partials/navbar')%>
        <h1>blogs</h1>

        <% if(blogs.length>0){
            blogs.forEach(blog=>{%>
              <a class="single" href="/blogs/<%=blog._id%>">
                <h3><%=blog.title%></h3>
                <p><%=blog.snippet%></p>
                <p><%=blog.body%></p>
              </a>
            <%})%>
        <%}else{%>
          <p>no blogs</p>
        <%}%>
      </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>